In [1]:
from collections import Counter
from glob import glob

import pandas as pd

In [2]:
file_paths = glob("./data/raw_data/*.csv")
file_paths

['./data/raw_data/경찰청_범죄발생지_2012.csv',
 './data/raw_data/경찰청_범죄발생지_2013.csv',
 './data/raw_data/경찰청_범죄 발생 지역별 통계_20191231.csv',
 './data/raw_data/경찰청_범죄발생지_2014.csv',
 './data/raw_data/경찰청_범죄 발생 지역별 통계_20181231.csv',
 './data/raw_data/경찰청_범죄발생지_2017.csv',
 './data/raw_data/경찰청_범죄발생지_2016.csv',
 './data/raw_data/경찰청_범죄 발생 지역별 통계_20221231.csv',
 './data/raw_data/경찰청_범죄 발생 지역별 통계_20211231.csv',
 './data/raw_data/경찰청_범죄발생지_20151231.csv',
 './data/raw_data/경찰청_범죄 발생 지역별 통계_20201231.csv']

In [3]:
column_dict = dict()

for file_path in file_paths:
    df = pd.read_csv(file_path, encoding="cp949")
    column_dict[file_path] = df.columns

In [4]:
columns_list = list(column_dict.values())
columns_list = [list(columns) for columns in columns_list]

In [5]:
Counter(sum(columns_list,[]))

Counter({'범죄대분류': 11,
         '범죄중분류': 11,
         '서울': 10,
         '부산': 10,
         '대구': 10,
         '인천': 10,
         '광주': 10,
         '대전': 10,
         '울산': 10,
         '기타도시': 10,
         '도시이외': 10,
         '세종': 8,
         '경기 고양': 8,
         '경기 과천': 8,
         '경기 광명': 8,
         '경기 광주': 8,
         '경기 구리': 8,
         '경기 군포': 8,
         '경기 김포': 8,
         '경기 남양주': 8,
         '경기 동두천': 8,
         '경기 부천': 8,
         '경기 성남': 8,
         '경기 수원': 8,
         '경기 시흥': 8,
         '경기 안산': 8,
         '경기 안성': 8,
         '경기 안양': 8,
         '경기 양주': 8,
         '경기 여주': 8,
         '경기 오산': 8,
         '경기 용인': 8,
         '경기 의왕': 8,
         '경기 의정부': 8,
         '경기 이천': 8,
         '경기 파주': 8,
         '경기 평택': 8,
         '경기 포천': 8,
         '경기 하남': 8,
         '경기 화성': 8,
         '강원 강릉': 8,
         '강원 동해': 8,
         '강원 삼척': 8,
         '강원 속초': 8,
         '강원 원주': 8,
         '강원 춘천': 8,
         '강원 태백': 8,
         '충북 제천': 8,
         '충북 청주': 8,
         '충북 충주': 8,
         '충남 계룡': 8,
         '충남 공주': 8,
         '충남 논산': 8,
         '충남 당진': 8,
         '충남 보령': 8,
         '충남 서산': 8,
         '충남 아산': 8,
         '충남 천안': 8,
         '전북 군산': 8,
         '전북 김제': 8,
         '전북 남원': 8,
         '전북 익산': 8,
         '전북 전주': 8,
         '전북 정읍': 8,
         '전남 광양': 8,
         '전남 나주': 8,
         '전남 목포': 8,
         '전남 순천': 8,
         '전남 여수': 8,
         '경북 경산': 8,
         '경북 경주': 8,
         '경북 구미': 8,
         '경북 김천': 8,
         '경북 문경': 8,
         '경북 상주': 8,
         '경북 안동': 8,
         '경북 영주': 8,
         '경북 영천': 8,
         '경북 포항': 8,
         '경남 거제': 8,
         '경남 김해': 8,
         '경남 밀양': 8,
         '경남 사천': 8,
         '경남 양산': 8,
         '경남 진주': 8,
         '경남 창원': 8,
         '경남 통영': 8,
         '제주 서귀포': 8,
         '제주 제주': 8,
         '부천': 2,
         '수원': 2,
         '성남': 2,
         '전주': 2,
         '안양': 2,
         '청주': 2,
         '창원': 2,
         '광명': 2,
         '포항': 2,
         '안산': 2,
         '진주': 2,
         '고양': 2,
         '제주': 2,
         '목포': 2,
         '의정부': 2,
         '익산': 2,
         '군산': 2,
         '구미': 2,
         '천안': 2,
         '여수': 2,
         '춘천': 2,
         '원주': 2,
         '평택': 2,
         '경주': 2,
         '김해': 2,
         '순천': 2,
         '군포': 2,
         '남양주': 2,
         '강릉': 2,
         '충주': 2,
         '안동': 2,
         '경산': 2,
         '아산': 2,
         '거제': 2,
         '김천': 2,
         '정읍': 2,
         '용인': 2,
         '시흥': 2,
         '파주': 2,
         '양산': 2,
         '이천': 2,
         '구리': 2,
         '서산': 2,
         '제천': 2,
         '논산': 2,
         ' 서울 ': 1,
         ' 부산 ': 1,
         ' 대구 ': 1,
         ' 인천 ': 1,
         ' 광주 ': 1,
         ' 대전 ': 1,
         ' 울산 ': 1,
         ' 부천 ': 1,
         ' 수원 ': 1,
         ' 성남 ': 1,
         ' 전주 ': 1,
         ' 안양 ': 1,
         ' 청주 ': 1,
         ' 마산 ': 1,
         ' 창원 ': 1,
         ' 광명 ': 1,
         ' 포항 ': 1,
         ' 안산 ': 1,
         ' 진주 ': 1,
         ' 고양 ': 1,
         ' 제주 ': 1,
         ' 목포 ': 1,
         ' 의정부 ': 1,
         ' 익산 ': 1,
         ' 군산 ': 1,
         ' 구미 ': 1,
         ' 천안 ': 1,
         ' 여수 ': 1,
         ' 춘천 ': 1,
         ' 원주 ': 1,
         ' 평택 ': 1,
         ' 경주 ': 1,
         ' 김해 ': 1,
         ' 순천 ': 1,
         ' 군포 ': 1,
         ' 남양주 ': 1,
         ' 강릉 ': 1,
         ' 충주 ': 1,
         ' 안동 ': 1,
         ' 경산 ': 1,
         ' 아산 ': 1,
         ' 거제 ': 1,
         ' 김천 ': 1,
         ' 정읍 ': 1,
         ' 용인 ': 1,
         ' 시흥 ': 1,
         ' 파주 ': 1,
         ' 양산 ': 1,
         ' 이천 ': 1,
         ' 구리 ': 1,
         ' 서산 ': 1,
         ' 제천 ': 1,
         ' 논산 ': 1,
         ' 기타도시 ': 1,
         ' 도시이외 ': 1,
         '마산': 1,
         '경남 마산': 1})

In [6]:
do_strip = lambda col: col.strip()
preproc = lambda cols: [do_strip(col) for col in cols]


Counter(sum(list(map(preproc, columns_list)), []))

Counter({'범죄대분류': 11,
         '범죄중분류': 11,
         '서울': 11,
         '부산': 11,
         '대구': 11,
         '인천': 11,
         '광주': 11,
         '대전': 11,
         '울산': 11,
         '기타도시': 11,
         '도시이외': 11,
         '세종': 8,
         '경기 고양': 8,
         '경기 과천': 8,
         '경기 광명': 8,
         '경기 광주': 8,
         '경기 구리': 8,
         '경기 군포': 8,
         '경기 김포': 8,
         '경기 남양주': 8,
         '경기 동두천': 8,
         '경기 부천': 8,
         '경기 성남': 8,
         '경기 수원': 8,
         '경기 시흥': 8,
         '경기 안산': 8,
         '경기 안성': 8,
         '경기 안양': 8,
         '경기 양주': 8,
         '경기 여주': 8,
         '경기 오산': 8,
         '경기 용인': 8,
         '경기 의왕': 8,
         '경기 의정부': 8,
         '경기 이천': 8,
         '경기 파주': 8,
         '경기 평택': 8,
         '경기 포천': 8,
         '경기 하남': 8,
         '경기 화성': 8,
         '강원 강릉': 8,
         '강원 동해': 8,
         '강원 삼척': 8,
         '강원 속초': 8,
         '강원 원주': 8,
         '강원 춘천': 8,
         '강원 태백': 8,
         '충북 제천': 8,
         '충북 청주': 8,
         '충북 충주': 8,
         '충남 계룡': 8,
         '충남 공주': 8,
         '충남 논산': 8,
         '충남 당진': 8,
         '충남 보령': 8,
         '충남 서산': 8,
         '충남 아산': 8,
         '충남 천안': 8,
         '전북 군산': 8,
         '전북 김제': 8,
         '전북 남원': 8,
         '전북 익산': 8,
         '전북 전주': 8,
         '전북 정읍': 8,
         '전남 광양': 8,
         '전남 나주': 8,
         '전남 목포': 8,
         '전남 순천': 8,
         '전남 여수': 8,
         '경북 경산': 8,
         '경북 경주': 8,
         '경북 구미': 8,
         '경북 김천': 8,
         '경북 문경': 8,
         '경북 상주': 8,
         '경북 안동': 8,
         '경북 영주': 8,
         '경북 영천': 8,
         '경북 포항': 8,
         '경남 거제': 8,
         '경남 김해': 8,
         '경남 밀양': 8,
         '경남 사천': 8,
         '경남 양산': 8,
         '경남 진주': 8,
         '경남 창원': 8,
         '경남 통영': 8,
         '제주 서귀포': 8,
         '제주 제주': 8,
         '부천': 3,
         '수원': 3,
         '성남': 3,
         '전주': 3,
         '안양': 3,
         '청주': 3,
         '창원': 3,
         '광명': 3,
         '포항': 3,
         '안산': 3,
         '진주': 3,
         '고양': 3,
         '제주': 3,
         '목포': 3,
         '의정부': 3,
         '익산': 3,
         '군산': 3,
         '구미': 3,
         '천안': 3,
         '여수': 3,
         '춘천': 3,
         '원주': 3,
         '평택': 3,
         '경주': 3,
         '김해': 3,
         '순천': 3,
         '군포': 3,
         '남양주': 3,
         '강릉': 3,
         '충주': 3,
         '안동': 3,
         '경산': 3,
         '아산': 3,
         '거제': 3,
         '김천': 3,
         '정읍': 3,
         '용인': 3,
         '시흥': 3,
         '파주': 3,
         '양산': 3,
         '이천': 3,
         '구리': 3,
         '서산': 3,
         '제천': 3,
         '논산': 3,
         '마산': 2,
         '경남 마산': 1})

In [7]:
def replace_마산(col):
    if "마산" in col:
        return col.replace("마산", "창원")
    return col

do_strip = lambda col: col.strip()

preproc = lambda cols: [replace_마산(do_strip(col)) for col in cols]

Counter(sum(list(map(preproc, columns_list)), []))

Counter({'범죄대분류': 11,
         '범죄중분류': 11,
         '서울': 11,
         '부산': 11,
         '대구': 11,
         '인천': 11,
         '광주': 11,
         '대전': 11,
         '울산': 11,
         '기타도시': 11,
         '도시이외': 11,
         '경남 창원': 9,
         '세종': 8,
         '경기 고양': 8,
         '경기 과천': 8,
         '경기 광명': 8,
         '경기 광주': 8,
         '경기 구리': 8,
         '경기 군포': 8,
         '경기 김포': 8,
         '경기 남양주': 8,
         '경기 동두천': 8,
         '경기 부천': 8,
         '경기 성남': 8,
         '경기 수원': 8,
         '경기 시흥': 8,
         '경기 안산': 8,
         '경기 안성': 8,
         '경기 안양': 8,
         '경기 양주': 8,
         '경기 여주': 8,
         '경기 오산': 8,
         '경기 용인': 8,
         '경기 의왕': 8,
         '경기 의정부': 8,
         '경기 이천': 8,
         '경기 파주': 8,
         '경기 평택': 8,
         '경기 포천': 8,
         '경기 하남': 8,
         '경기 화성': 8,
         '강원 강릉': 8,
         '강원 동해': 8,
         '강원 삼척': 8,
         '강원 속초': 8,
         '강원 원주': 8,
         '강원 춘천': 8,
         '강원 태백': 8,
         '충북 제천': 8,
         '충북 청주': 8,
         '충북 충주': 8,
         '충남 계룡': 8,
         '충남 공주': 8,
         '충남 논산': 8,
         '충남 당진': 8,
         '충남 보령': 8,
         '충남 서산': 8,
         '충남 아산': 8,
         '충남 천안': 8,
         '전북 군산': 8,
         '전북 김제': 8,
         '전북 남원': 8,
         '전북 익산': 8,
         '전북 전주': 8,
         '전북 정읍': 8,
         '전남 광양': 8,
         '전남 나주': 8,
         '전남 목포': 8,
         '전남 순천': 8,
         '전남 여수': 8,
         '경북 경산': 8,
         '경북 경주': 8,
         '경북 구미': 8,
         '경북 김천': 8,
         '경북 문경': 8,
         '경북 상주': 8,
         '경북 안동': 8,
         '경북 영주': 8,
         '경북 영천': 8,
         '경북 포항': 8,
         '경남 거제': 8,
         '경남 김해': 8,
         '경남 밀양': 8,
         '경남 사천': 8,
         '경남 양산': 8,
         '경남 진주': 8,
         '경남 통영': 8,
         '제주 서귀포': 8,
         '제주 제주': 8,
         '창원': 5,
         '부천': 3,
         '수원': 3,
         '성남': 3,
         '전주': 3,
         '안양': 3,
         '청주': 3,
         '광명': 3,
         '포항': 3,
         '안산': 3,
         '진주': 3,
         '고양': 3,
         '제주': 3,
         '목포': 3,
         '의정부': 3,
         '익산': 3,
         '군산': 3,
         '구미': 3,
         '천안': 3,
         '여수': 3,
         '춘천': 3,
         '원주': 3,
         '평택': 3,
         '경주': 3,
         '김해': 3,
         '순천': 3,
         '군포': 3,
         '남양주': 3,
         '강릉': 3,
         '충주': 3,
         '안동': 3,
         '경산': 3,
         '아산': 3,
         '거제': 3,
         '김천': 3,
         '정읍': 3,
         '용인': 3,
         '시흥': 3,
         '파주': 3,
         '양산': 3,
         '이천': 3,
         '구리': 3,
         '서산': 3,
         '제천': 3,
         '논산': 3})

In [8]:
def replace_마산(col):
    if "마산" in col:
        return col.replace("마산", "창원")
    return col

do_strip = lambda col: col.strip()

preproc = lambda cols: [replace_마산(do_strip(col)) for col in cols]

column_counter = Counter(sum(list(map(preproc, columns_list)), []))

In [9]:
main_cols = list(filter(lambda x : 7<=column_counter[x], column_counter))

In [10]:
main_cols

['범죄대분류',
 '범죄중분류',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '기타도시',
 '도시이외',
 '세종',
 '경기 고양',
 '경기 과천',
 '경기 광명',
 '경기 광주',
 '경기 구리',
 '경기 군포',
 '경기 김포',
 '경기 남양주',
 '경기 동두천',
 '경기 부천',
 '경기 성남',
 '경기 수원',
 '경기 시흥',
 '경기 안산',
 '경기 안성',
 '경기 안양',
 '경기 양주',
 '경기 여주',
 '경기 오산',
 '경기 용인',
 '경기 의왕',
 '경기 의정부',
 '경기 이천',
 '경기 파주',
 '경기 평택',
 '경기 포천',
 '경기 하남',
 '경기 화성',
 '강원 강릉',
 '강원 동해',
 '강원 삼척',
 '강원 속초',
 '강원 원주',
 '강원 춘천',
 '강원 태백',
 '충북 제천',
 '충북 청주',
 '충북 충주',
 '충남 계룡',
 '충남 공주',
 '충남 논산',
 '충남 당진',
 '충남 보령',
 '충남 서산',
 '충남 아산',
 '충남 천안',
 '전북 군산',
 '전북 김제',
 '전북 남원',
 '전북 익산',
 '전북 전주',
 '전북 정읍',
 '전남 광양',
 '전남 나주',
 '전남 목포',
 '전남 순천',
 '전남 여수',
 '경북 경산',
 '경북 경주',
 '경북 구미',
 '경북 김천',
 '경북 문경',
 '경북 상주',
 '경북 안동',
 '경북 영주',
 '경북 영천',
 '경북 포항',
 '경남 거제',
 '경남 김해',
 '경남 밀양',
 '경남 사천',
 '경남 양산',
 '경남 진주',
 '경남 창원',
 '경남 통영',
 '제주 서귀포',
 '제주 제주']

In [11]:
def add_base(main_cols, col):
    if col in main_cols:
        return col
    
    exist_cols = [main_col for main_col in main_cols if main_col.endswith(col)]
    
    if len(exist_cols) == 1:
        return exist_cols[0]
    else:
        return col

_add_base = lambda col: add_base(main_cols, col)

do_strip = lambda col: col.strip()

preproc = lambda cols: [_add_base(do_strip(col)) for col in cols]

column_counter = Counter(sum(list(map(preproc, columns_list)), []))

In [12]:
column_counter

Counter({'범죄대분류': 11,
         '범죄중분류': 11,
         '서울': 11,
         '부산': 11,
         '대구': 11,
         '인천': 11,
         '광주': 11,
         '대전': 11,
         '울산': 11,
         '경기 부천': 11,
         '경기 수원': 11,
         '경기 성남': 11,
         '전북 전주': 11,
         '경기 안양': 11,
         '충북 청주': 11,
         '경남 창원': 11,
         '경기 광명': 11,
         '경북 포항': 11,
         '경기 안산': 11,
         '경남 진주': 11,
         '경기 고양': 11,
         '제주 제주': 11,
         '전남 목포': 11,
         '경기 의정부': 11,
         '전북 익산': 11,
         '전북 군산': 11,
         '경북 구미': 11,
         '충남 천안': 11,
         '전남 여수': 11,
         '강원 춘천': 11,
         '강원 원주': 11,
         '경기 평택': 11,
         '경북 경주': 11,
         '경남 김해': 11,
         '전남 순천': 11,
         '경기 군포': 11,
         '경기 남양주': 11,
         '강원 강릉': 11,
         '충북 충주': 11,
         '경북 안동': 11,
         '경북 경산': 11,
         '충남 아산': 11,
         '경남 거제': 11,
         '경북 김천': 11,
         '전북 정읍': 11,
         '경기 용인': 11,
         '경기 시흥': 11,
         '경기 파주': 11,
         '경남 양산': 11,
         '경기 이천': 11,
         '경기 구리': 11,
         '충남 서산': 11,
         '충북 제천': 11,
         '충남 논산': 11,
         '기타도시': 11,
         '도시이외': 11,
         '세종': 8,
         '경기 과천': 8,
         '경기 광주': 8,
         '경기 김포': 8,
         '경기 동두천': 8,
         '경기 안성': 8,
         '경기 양주': 8,
         '경기 여주': 8,
         '경기 오산': 8,
         '경기 의왕': 8,
         '경기 포천': 8,
         '경기 하남': 8,
         '경기 화성': 8,
         '강원 동해': 8,
         '강원 삼척': 8,
         '강원 속초': 8,
         '강원 태백': 8,
         '충남 계룡': 8,
         '충남 공주': 8,
         '충남 당진': 8,
         '충남 보령': 8,
         '전북 김제': 8,
         '전북 남원': 8,
         '전남 광양': 8,
         '전남 나주': 8,
         '경북 문경': 8,
         '경북 상주': 8,
         '경북 영주': 8,
         '경북 영천': 8,
         '경남 밀양': 8,
         '경남 사천': 8,
         '경남 통영': 8,
         '제주 서귀포': 8,
         '마산': 2,
         '경남 마산': 1})

In [13]:
_mapper_마산 = lambda x : '경남 마산' if x == '마산' else  x

def add_base(main_cols, col):
    if col in main_cols:
        return col
    
    exist_cols = [main_col for main_col in main_cols if main_col.endswith(col)]
    
    if len(exist_cols) == 1:
        return exist_cols[0]
    else:
        return col

_add_base = lambda col: add_base(main_cols, col)

do_strip = lambda col: col.strip()

preproc = lambda cols: [_mapper_마산(_add_base(do_strip(col))) for col in cols]

column_counter = Counter(sum(list(map(preproc, columns_list)), []))
column_counter

Counter({'범죄대분류': 11,
         '범죄중분류': 11,
         '서울': 11,
         '부산': 11,
         '대구': 11,
         '인천': 11,
         '광주': 11,
         '대전': 11,
         '울산': 11,
         '경기 부천': 11,
         '경기 수원': 11,
         '경기 성남': 11,
         '전북 전주': 11,
         '경기 안양': 11,
         '충북 청주': 11,
         '경남 창원': 11,
         '경기 광명': 11,
         '경북 포항': 11,
         '경기 안산': 11,
         '경남 진주': 11,
         '경기 고양': 11,
         '제주 제주': 11,
         '전남 목포': 11,
         '경기 의정부': 11,
         '전북 익산': 11,
         '전북 군산': 11,
         '경북 구미': 11,
         '충남 천안': 11,
         '전남 여수': 11,
         '강원 춘천': 11,
         '강원 원주': 11,
         '경기 평택': 11,
         '경북 경주': 11,
         '경남 김해': 11,
         '전남 순천': 11,
         '경기 군포': 11,
         '경기 남양주': 11,
         '강원 강릉': 11,
         '충북 충주': 11,
         '경북 안동': 11,
         '경북 경산': 11,
         '충남 아산': 11,
         '경남 거제': 11,
         '경북 김천': 11,
         '전북 정읍': 11,
         '경기 용인': 11,
         '경기 시흥': 11,
         '경기 파주': 11,
         '경남 양산': 11,
         '경기 이천': 11,
         '경기 구리': 11,
         '충남 서산': 11,
         '충북 제천': 11,
         '충남 논산': 11,
         '기타도시': 11,
         '도시이외': 11,
         '세종': 8,
         '경기 과천': 8,
         '경기 광주': 8,
         '경기 김포': 8,
         '경기 동두천': 8,
         '경기 안성': 8,
         '경기 양주': 8,
         '경기 여주': 8,
         '경기 오산': 8,
         '경기 의왕': 8,
         '경기 포천': 8,
         '경기 하남': 8,
         '경기 화성': 8,
         '강원 동해': 8,
         '강원 삼척': 8,
         '강원 속초': 8,
         '강원 태백': 8,
         '충남 계룡': 8,
         '충남 공주': 8,
         '충남 당진': 8,
         '충남 보령': 8,
         '전북 김제': 8,
         '전북 남원': 8,
         '전남 광양': 8,
         '전남 나주': 8,
         '경북 문경': 8,
         '경북 상주': 8,
         '경북 영주': 8,
         '경북 영천': 8,
         '경남 밀양': 8,
         '경남 사천': 8,
         '경남 통영': 8,
         '제주 서귀포': 8,
         '경남 마산': 3})

In [14]:
display(df.head())
display(df.columns)

,범죄대분류,범죄중분류,서울,부산,대구,인천,광주,대전,울산,세종,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
0,강력범죄,살인기수,50,21,15,12,7,9,6,4,...,0,2,4,4,4,0,3,5,4,21
1,강력범죄,살인미수등,88,30,13,25,3,9,6,4,...,0,6,2,1,13,0,2,4,1,44
2,강력범죄,강도,141,38,33,45,24,14,14,2,...,0,0,7,8,16,2,3,11,1,33
3,강력범죄,강간,1279,306,213,338,158,180,103,27,...,11,9,29,37,93,13,18,77,21,298
4,강력범죄,유사강간,197,63,28,45,19,25,18,2,...,0,4,4,7,8,1,3,15,1,53

Index(['범죄대분류', '범죄중분류', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종',
       '경기 고양', '경기 과천', '경기 광명', '경기 광주', '경기 구리', '경기 군포', '경기 김포', '경기 남양주',
       '경기 동두천', '경기 부천', '경기 성남', '경기 수원', '경기 시흥', '경기 안산', '경기 안성', '경기 안양',
       '경기 양주', '경기 여주', '경기 오산', '경기 용인', '경기 의왕', '경기 의정부', '경기 이천', '경기 파주',
       '경기 평택', '경기 포천', '경기 하남', '경기 화성', '강원 강릉', '강원 동해', '강원 삼척', '강원 속초',
       '강원 원주', '강원 춘천', '강원 태백', '충북 제천', '충북 청주', '충북 충주', '충남 계룡', '충남 공주',
       '충남 논산', '충남 당진', '충남 보령', '충남 서산', '충남 아산', '충남 천안', '전북 군산', '전북 김제',
       '전북 남원', '전북 익산', '전북 전주', '전북 정읍', '전남 광양', '전남 나주', '전남 목포', '전남 순천',
       '전남 여수', '경북 경산', '경북 경주', '경북 구미', '경북 김천', '경북 문경', '경북 상주', '경북 안동',
       '경북 영주', '경북 영천', '경북 포항', '경남 거제', '경남 김해', '경남 밀양', '경남 사천', '경남 양산',
       '경남 진주', '경남 창원', '경남 통영', '제주 서귀포', '제주 제주', '기타도시', '도시이외'],
      dtype='object')

In [15]:
tmp=df.set_index(['범죄대분류', '범죄중분류'])

In [16]:
df.melt(id_vars=["범죄대분류", "범죄중분류"], var_name="지역", value_name="Count")

     범죄대분류  범죄중분류    지역  Count
0     강력범죄   살인기수    서울     50
1     강력범죄  살인미수등    서울     88
2     강력범죄     강도    서울    141
3     강력범죄     강간    서울   1279
4     강력범죄   유사강간    서울    197
...    ...    ...   ...    ...
3301  노동범죄   노동범죄  도시이외     44
3302  안보범죄   안보범죄  도시이외      4
3303  선거범죄   선거범죄  도시이외     84
3304  병역범죄   병역범죄  도시이외    247
3305  기타범죄   기타범죄  도시이외  26459

[3306 rows x 4 columns]