In [1]:
import PublicDataReader as pdr

In [2]:
hdong_df = pdr.code_hdong()
bdong_df = pdr.code_bdong()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.2.1. 시행)
출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.2.1. 시행)

In [3]:
display(hdong_df.sample(5))
display(bdong_df.sample(5))

     시도코드      시도명  시군구코드 시군구명       행정동코드 읍면동명      생성일자      말소일자
9044   52  전북특별자치도  52800  부안군  5280035000  보안면  20240118
7552   48     경상남도  48110  창원시  4811052000  동정동  19940701  19970714
4240   41      경기도  41870  김포군  4187032000  계양면  19880423  19881231
4908   43     충청북도  43150  제천시  4315053000  남천동  19880423  19980925
587    11    서울특별시  11620  관악구  1162057500  행운동  20080901

      시도코드   시도명  시군구코드     시군구명       법정동코드 읍면동명  동리명      생성일자      말소일자
24922   45  전라북도  45780      정읍군  4578042026  칠보면  반곡리  19880423  19950101
39941   48  경상남도  48014  부산시 영도구  4801402000  청학동       19880423  19880423
7549    41   경기도  41610      광주시  4161035026  남종면  검천리  20010321
15369   43  충청북도  43710      청원군  4371042054  오창면  백현리  19880423  20070101
33576   47  경상북도  47710      달성군  4771038032  유가면  한정동  19880423  19880930

In [4]:
hdong_df.to_csv("./data/preproc_data/hdong_raw.csv", index=False)
bdong_df.to_csv("./data/preproc_data/bdong_raw.csv", index=False)

In [5]:
is_nothing = lambda x : len(x) == 0 

filtered_hdong_df = hdong_df[hdong_df['말소일자'].apply(is_nothing)].copy()
filtered_bdong_df = bdong_df[bdong_df['말소일자'].apply(is_nothing)].copy()

In [6]:
display(filtered_hdong_df.sample(5))
display(filtered_bdong_df.sample(5))

     시도코드      시도명  시군구코드     시군구명       행정동코드      읍면동명      생성일자 말소일자
444    11    서울특별시  11500      강서구  1150000000            19880423
8810   52  전북특별자치도  52111  전주시 완산구  5211171200      효자2동  20240118
6577   46     전라남도  46830      영암군  4683025400  삼호읍서부출장소  20030501
5280   44     충청남도  44180      보령시  4418038000       주산면  19950101
2995   41      경기도  41133  성남시 중원구  4113358000     상대원2동  19890501

      시도코드      시도명  시군구코드 시군구명       법정동코드 읍면동명  동리명      생성일자 말소일자
48903   52  전북특별자치도  52210  김제시  5221046021  광활면  옥포리  20240118
33130   47     경상북도  47290  경산시  4729011400  임당동       19890101
21629   44     충청남도  44825  태안군  4482535027  원북면  대기리  19890101
21229   44     충청남도  44810  예산군  4481036035  덕산면  낙상리  19880423
48382   52  전북특별자치도  52180  정읍시  5218012500  공평동       20240118

In [7]:
filtered_hdong_df.to_csv("./data/preproc_data/hdong_filtered.csv", index=False)
filtered_bdong_df.to_csv("./data/preproc_data/bdong_filtered.csv", index=False)

In [8]:
from functools import reduce


def concat_column(df, name, columns, sep):
    series_with_sep = lambda series: series + sep
    df[name] = reduce(lambda x, y: x + y, (series_with_sep(df[col]) for col in columns))
    df[name] = df[name].apply(lambda x: x.strip(sep))
    return df


hdong_col_name = "행정동명"
hdong_cols = ["시도명", "시군구명", "읍면동명"]

bdong_col_name = "법정동명"
bdong_cols = ["시도명", "시군구명", "읍면동명", "동리명"]
sep = "_"

filtered_concated_hdong_df = concat_column(filtered_hdong_df, hdong_col_name, hdong_cols, sep)
filtered_concated_bdong_df = concat_column(filtered_bdong_df, bdong_col_name, bdong_cols, sep)

In [9]:
display(filtered_concated_hdong_df.sample(5))
display(filtered_concated_bdong_df.sample(5))

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,생성일자,말소일자,행정동명
6879,47,경상북도,47150,김천시,4715044000,대덕면,19950101,,경상북도_김천시_대덕면
8594,51,강원특별자치도,51110,춘천시,5111062000,효자1동,20230611,,강원특별자치도_춘천시_효자1동
7477,47,경상북도,47930,울진군,4793031000,북면,19880423,,경상북도_울진군_북면
1548,26,부산광역시,26140,서구,2614066000,남부민제2동,19950101,,부산광역시_서구_남부민제2동
8853,52,전북특별자치도,52130,군산시,5213069000,수송동,20240118,,전북특별자치도_군산시_수송동

,시도코드,시도명,시군구코드,시군구명,법정동코드,읍면동명,동리명,생성일자,말소일자,법정동명
7869,41,경기도,41670,여주시,4167036022,북내면,신남리,20130923,,경기도_여주시_북내면_신남리
46544,51,강원특별자치도,51110,춘천시,5111032023,동산면,원창리,20230611,,강원특별자치도_춘천시_동산면_원창리
5090,41,경기도,41113,수원시 권선구,4111314000,입북동,,20031124,,경기도_수원시 권선구_입북동
48350,52,전북특별자치도,52140,익산시,5214044000,용동면,,20240118,,전북특별자치도_익산시_용동면
7226,41,경기도,41590,화성시,4159025930,향남읍,길성리,20070129,,경기도_화성시_향남읍_길성리

In [10]:
preproc_hdong = filtered_hdong_df.loc[:, ["행정동명", "행정동코드"]]
preproc_bdong = filtered_bdong_df.loc[:, ["법정동명", "법정동코드"]]

In [11]:
display(preproc_hdong.sample(5))
display(preproc_bdong.sample(5))

                  행정동명       행정동코드
1984     대구광역시_북구_태전2동  2723073500
2933  경기도_수원시 영통구_망포1동  4111759300
8664   강원특별자치도_태백시_상장동  5119054000
2291    인천광역시_부평구_삼산1동  2823764600
8734       강원특별자치도_정선군  5177000000

                   법정동명       법정동코드
18076  충청남도_공주시_계룡면_양화리  4415033029
27981      전라남도_고흥군_대서면  4677041000
21      서울특별시_종로구_신문로1가  1111012000
6811     경기도_이천시_율면_산양리  4150038025
34871  경상북도_청송군_파천면_황목리  4775036038

In [12]:
preproc_hdong.to_csv("./data/preproc_data/hdong_filtered_concated.csv", index=False)
preproc_bdong.to_csv("./data/preproc_data/bdong_filtered_concated.csv", index=False)