In [10]:
import pandas as pd
from glob import glob

In [11]:
preproc_file_paths = glob("./data/preproc_data/*.csv")

In [12]:
category_file_paths = glob("./data/preproc_data/category*.csv")
addr_detail_file_paths = glob("./data/preproc_data/addr_detail*.csv")
addr_file_paths = list(set(glob("./data/preproc_data/addr*.csv")) - set(addr_detail_file_paths))

In [13]:
df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in addr_file_paths])
df.sample(10)

                      상가업소번호      시도명     시군구명  행정동명   법정동명      time
58518   MA010120220804575137  강원특별자치도      동해시   천곡동    천곡동  20230930
201305              24920532    서울특별시       중구   장충동  장충동2가  20221231
73832               16309600     전라북도      군산시   옥도면    옥도면  20221231
39994               16702023    서울특별시      서초구  방배1동    방배동  20210630
361157              16335910      경기도      오산시   세마동    지곶동  20210930
71588               22998174     경상북도      울릉군    서면     서면  20211231
92793               25644810    서울특별시      용산구   청파동  청파동1가  20201231
539447              16028954      경기도      구리시  교문1동    교문동  20200630
124951              11822415     경상남도  창원시 성산구   사파동    대방동  20200930
24030               16308095      강원도      강릉시   초당동    강문동  20210930

In [14]:
df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in addr_detail_file_paths])
df.sample(10)

,상가업소번호,도로명,위도,경도,time
130204,23911229,경기도 수원시 팔달구 매산로104번길,37.270158,127.012228,20200630
433187,MA010120220804723685,경기도 부천시 원미구 길주로,37.502533,126.775299,20240331
72750,19915919,대구광역시 북구 검단동로,35.914205,128.625137,20200930
24286,MA010120220809569350,경상남도 사천시 사천읍 읍내로,35.082811,128.091216,20240331
218851,20025185,서울특별시 강남구 도산대로90길,37.523980,127.049574,20210630
346521,24018839,경기도 과천시 별양로,37.427553,126.994561,20200630
83900,MA010120220804709473,강원도 강릉시 하평길,37.771519,128.913069,20230331
135666,MA0101202307A0065988,경상북도 구미시 산호대로,36.092455,128.391212,20230930
15210,26505159,경상남도 창원시 마산회원구 북성로,35.222503,128.570882,20221231
249002,26264154,경기도 이천시 장호원읍 경충대로536번길,37.148289,127.580963,20201231

In [15]:
df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in category_file_paths])
df.sample(10)

,상가업소번호,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,time
103550,22071390,무향다원,음식,커피점/카페,전통찻집/인삼찻집,20201231
28876,16246273,좋은음악학원,학문/교육,학원-음악미술무용,피아노/바이올린/기타,20220331
57213,23120668,전미경헤어월드,생활서비스,이/미용/건강,여성미용실,20211231
62044,MA0101202302A0007293,카페당,음식,비알코올,카페,20240331
67013,16443015,선비꼬마김밥,음식,분식,라면김밥분식,20221231
55573,23003119,율면목욕탕,생활서비스,대중목욕탕/휴게,욕탕업-종합,20220331
98327,17462452,레트로치킨,음식,유흥주점,호프/맥주,20221231
406335,MA010120220803281208,라르떼뷰티,수리·개인,이용·미용,피부 관리실,20231231
42581,11154481,디스커버리,소매,의복의류,캐쥬얼/스포츠의류,20211231
4142,23484700,우리방아간,음식,제과제빵떡케익,떡전문,20220630